@charset "UTF-8";

*{
    overflow: hidden;
}
html,body{
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: rgb(58, 58, 250);
    justify-content: center;
    align-items: center;
}
#horario, #crono{
    display: grid;
    background-color: white;
    border: 1px solid black;
    width: 40vw;
    height: 40vh;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#crono, #timer{
    display: none;
}
#timer{
    display: flex;
    flex-direction: row;
}
#botao{
    display: flex;
    flex-direction: row;
}
#botao input{
    margin: 0vw 1vw;
    background-color: rgb(27, 27, 248);
    color: white;
}
#continuar{
    display: none;
}